@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../components/samuraizada.jpg') ;
    background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: rgba(200, 2, 127, 0.573);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;

  
}


  




